*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to bottom, #283c86, #45a247);
  font-family: 'Marvel', sans-serif;
  min-height: 100vh;
}
div:focus {
  outline: none;
}
.container {
  background: #fff;
  border-radius: 4px;
  margin: 40px auto 0 auto;
  padding: 0 10px;
  width: 90%;
}
#title,
#content {
  padding: 15px;
}
#title {
  border-bottom: 1px solid #aaa;
  font-size: 3rem;
  font-weight: bold;
}
#content {
  font-size: 2rem;
}
